body{
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
    padding-top: 10px;
    text-align: justify;
}

.navbarEdit{
    background: rgb(41, 179, 68);
}

nav .navbar-nav li a{
    text-align: center;
    padding: 10px;
    font-size: 16px;

}

@media only screen and (min-width: 768px) {

    #navbar{
        margin-top: 40vh;
    }
}

@media only screen and (max-width: 768px) {
    #profile {
        display: none;
    }
}

.titles{
    padding: 40px;
    text-align: center;
}


.section{
    height:100%;
    width:100%;
    padding: 60px;
    padding-left: 120px;
    box-sizing:border-box;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #b2dbfb;
}
